* {
    padding: 0;
    margin: 0;
}

@import "variables";
@import "generales";
@import "titulo";
@import "icono";
@import "parrafoIndex";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');



/* seccion actividades */

.footerAct {
    margin-top: 5%;
    margin-bottom: 0%;

    font-size: 150%;
    font-family: fantasy;

}

/* seccion contactos*/

.mainContacto {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    margin-bottom: 2%;
    margin-left: 3%;
}

.contacto {
    font-size: 250%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: $font;
    font-weight: bold;
}

.contactoTel {
    font-size: 150%;
    color: black;
    font-weight: bold;
}

.mapa {
    max-width: 100%;
}

.mapa {
    margin-top: 5%;
    justify-content: center;
    width: 20%;
    height: 50%;
    margin-left: 40%;
    margin-bottom: 10%;
    border-color: black 3px;
}

.iconoContactos {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 0%;
    max-width: 60%;
    max-height: 60%;
}

form {
    font-weight: bold;
    font-size: 120%;
    color: rgb(83, 7, 94);
}

form h3 {
    font-weight: bold;
    font-size: 150%;
    color: rgb(15, 15, 15);

}

/* seccion horarios*/

.mainHs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    text-align: center;

}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.imgHs {
    max-width: 400px;
    border-radius: 50%;
    margin-left: 38%;
    border: 5px solid black;
}

.footerHs {
    font-size: larger;
    margin-top: 25%;
    text-align: center;
    font-family: monospace;
}


/* seccion nosotros */

.mainNosotros {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

h1 {
    margin-top: 80px;
    font-weight: bold;
}


.parrafoNosotros {
    background: rgb(225, 225, 228);
    text-align: center;
    font-weight: bold;
    border: grey 5px double;
}

.parrafoNosotros .mainNosotros {
    max-width: 100%;
    margin-top: 10%;
}

.imgNosotros {
    max-width: 400px;
    height: auto;
    width: auto;
}

.footerNosotros {
    background-color: black;
    color: aliceblue;

    font-size: larger;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
    font-family: monospace;

}

/* Pseudoclases */

a:link {
    color: blue;
}

a:visited {
    color: antiquewhite;
}

a:active {
    color: blueviolet;
}

a:hover {
    background: blue
}

@media screen and (max-width:700px) {
    .galeria {
        flex-direction: column;
    }

    .menu {
        flex-direction: column-reverse;
        font-size: small;
    }
}

@media screen and (max-width:400px) {
    header {
        flex-direction: column;
    }

    .divParrafo {
        flex-direction: column;
    }

    .parrafos {
        font-size: 50%;
    }

    .imagen {
        flex-direction: column;
    }

    p {
        font-size: xx-small;

    }
}