@charset "UTF-8";
@import "variables";
@import "generales";
@import "icono";

article {
    margin-top: 5%;
}

.contenido__idx {
    align-items: center;
}

.sec__index {
    height: 70%;
    width: auto;
    display: flex;
    justify-content: center;
}

.img__idx {
    max-width: 70%;
    max-height: 70%;
}

.transf:hover {
    transform: scale(1.1);
}

.titulos {
    font-size: 200%;
    letter-spacing: 5px;
    color: black;
    text-align: center;
    background-color: $color__resaltado;
}

.secciones__index {
    font-size: 200%;
    background-color: $color__fondo;
    letter-spacing: 2px;
    color: $color__resaltado;
    text-align: center;
}

.content__bf {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img__bf {
    width: 100%;
}


.redes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 150px;
}



.contenido__idx {
    grid-area: contenido;
}

.banner {
    grid-area: banner;
}

;

nav {
    grid-area: nav;
}

.titulos {
    grid-area: titulo;
}

.banner__footer {
    grid-area: bannerfooter;
}

footer {
    grid-area: footer;
}

.section__index {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "banner"
        "nav"
        "titulo"
        "contenido"
        "bannerfooter"
        "footer";

}

/* Sección productos*/
.productos {
    display: flex;
    flex-direction: column;
}

.cont__prod {
    color: white;
    justify-items: center;
    width: 70%;
    margin: 5% auto;
    border: 5px solid $color__resaltado;
    padding-top: 5%;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 25px rgb(134, 134, 83);

}

.img__prod {
    width: 85%;
    height: auto;
    padding-bottom: 5%;

}

.name__prod {
    font-size: 70%;
    letter-spacing: 5%;
}


.productos {
    grid-area: productos;
}

.section__productos {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "banner"
        "nav"
        "titulo"
        "productos"
        "bannerfooter"
        "footer";

}

/* Seccion Nosotros*/

.art__nos {
    display: flex;

    flex-direction: column;
    border: 5px solid $color__resaltado;
    align-items: center;
}

.div__n {
    align-items: center;
    width: 70%;
    max-width: 150%;
    margin: 5px auto;
    color: white;
    font-size: 150%;
    text-align: center;
}

.img__n {
    width: 50%;
    max-width: 50%;
    height: auto;

    padding-top: 5%;
    padding-bottom: 5%;
}

.nos1 {
    grid-area: nos1;
}

.nos2 {
    grid-area: nos2;
}

.section__nosotros {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "banner"
        "nav"
        "titulo"
        "nos1"
        "nos2"
        "bannerfooter"
        "footer";
}

/*Seccion contacto*/
.tit__form {
    font-size: 200%;
    letter-spacing: 8px;

}

.sec__form {
    padding: 5%;
    text-align: center;
    color: white;
    grid-area: form;
}

.label__cont {
    font-size: 100%;
}

.contacto {
    margin-top: 30%;
    text-align: center;
    text-decoration: underline;
    color: red;
}

.mapa {
    max-width: 100%;
    margin-top: 15%;
    background-position: center;
    width: 85%;
    height: 85%;
    margin-left: 0%;
    margin-bottom: 0%;
    border-color: black 3px;
}

.section__contacto {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "banner"
        "nav"
        "titulo"
        "form"
        "bannerfooter"
        "mapa"
        "footer"
}