@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Bebas Neue" !important;
  text-transform: uppercase;
}

header {
  background-color: black;
  display: -ms-grid;
  display: grid;
  max-width: 90%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

header .img__bnr {
  border-radius: 50%;
  width: 50%;
  background-color: black;
  margin-right: 2%;
  height: auto;
  display: block;
  margin: auto;
}

nav ul {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

nav ul li {
  font-size: 150%;
  list-style: none;
  text-transform: uppercase;
  margin-left: 0%;
  margin-right: 5%;
}

nav ul li a {

  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  color: white;
}

a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: white;
  transition: left .8s;
}

a:hover:after {
  left: 0;

}

article {
  margin-top: 5%;
}

.contenido__idx {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sec__index {
  height: 70%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img__idx {
  max-width: 70%;
  max-height: 70%;
}

.transf:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.titulos {
  font-size: 200%;
  letter-spacing: 5px;
  color: black;
  text-align: center;
  background-color: #fad100;
}

.secciones__index {
  font-size: 200%;
  background-color: black;
  letter-spacing: 2px;
  color: #fad100;
  text-align: center;
}

.content__bf {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img__bf {
  width: 100%;
}

footer {
  letter-spacing: 5px;
  color: #fad100;
  font-size: 80%;
  background-color: black;
  text-align: center;
  margin-bottom: 0%;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.9;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__box {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__box p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__box hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

.contenido__idx {
  grid-row: 4;
  grid-column: 1;
  grid-area: contenido;
}

.banner {
  grid-row: 1;
  grid-column: 1;
  grid-area: banner;
}

nav {
  grid-area: nav;
}

.titulos {
  grid-area: titulo;
}

.banner__footer {
  grid-row: 6;
  grid-column: 1;
  grid-area: bannerfooter;
}

footer {
  grid-row: 7;
  grid-column: 1 1;
  grid-area: footer;
}

.section__index {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-areas: "banner""nav""titulo""contenido""bannerfooter""footer";
}

.icono {
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 0%;
  max-width: 60%;
  max-height: 60%;
}


.galeria {
  font-family: 'open sans';
}

.galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}

.linea {
  border-top: 5px solid white;
  margin-bottom: 40px;
}

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(209, 211, 212, 0.781);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: .5s ease;
}

.texto h2 {
  color: rgb(218, 74, 74);
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen:hover .texto {
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width:1000px) {
  .contenedor-imagenes {
    width: 95%;
  }
}

@media screen and (max-width:700px) {
  .contenedor-imagenes {
    width: 90%;
  }

  .contenedor-imagenes .imagen {
    width: 48%;
  }
}

@media screen and (max-width:450px) {
  h1 {
    font-size: 22px;
  }

  .contenedor-imagenes {
    width: 98%;
  }

  .contenedor-imagenes .imagen {
    width: 80%;
  }
}


.tit__form {
  font-size: 200%;
  letter-spacing: 8px;
}

.sec__form {
  padding: 5%;
  text-align: center;
  color: white;
  grid-row: 4;
  grid-column: 1;
  grid-area: form;
}

.label__cont {
  font-size: 100%;
}

.section__contacto {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-areas: "iconoContactos""nav""titulo""form""mapa""bannerfooter""footer";
}

.mapa {
  max-width: 100%;
  margin-top: 5%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  margin-left: 0%;
  margin-bottom: 10%;
  border-color: white 3px;
}

.mapa {
  grid-area: mapa;
}

form {
  font-weight: bold;
  font-size: 120%;
  color: #53075e;
}

form h3 {
  font-weight: bold;
  font-size: 150%;
  color: #0f0f0f;
}


.clases {
  background-color: #E8E8E8;

}


table {

  width: 100%;

  text-align: center;
  margin-top: 50px;

}

.blanco {
  background-color: white;
}

.gris {
  background-color: #E8E8E8;
}

.negro {
  background-color: rgb(48, 46, 46);
  color: black;
  text-align:
    center;
  font-size: 150%;
}

th {
  font-size: 170%;
  padding: 20px 0;
  font-style: italic;
  color: #414040;
}

.horario {
  font-style: italic;
}

h3 {
  text-align: center;
  font-size: 60px;
}

.clases__mobile {
  display: none;
}

@media (max-width: 800px) {
  .clases__mobile {
    display: block;
    text-align: center
  }

  table {
    display: none;
  }

  p {
    color: #414040;
  }

  .dia {
    font-size: 170%;
    color: white;
  }

  .horario {
    color: rgb(179, 12, 12);
    text-shadow: 1px 2px 3px rgb(243, 230, 230);
  }

}

;


.art__nos {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.div__n {
  align-items: center;
  width: 100%;
  max-width: 150%;
  margin: 5px auto;
  color: white;
  font-size: 150%;
  text-align: center;
}

.img__n {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.nos1 {
  grid-area: nos1;
}

.nos2 {
  grid-area: nos2;
}



.section__nosotros {
  display: grid;
  gap: 30px;
  grid-template-areas: "banner""nav""titulo""nos1""nos2""bannerfooter""footer";
}



a:link {
  color: #7a7a7a;
}

a:visited {
  color: antiquewhite;
}

a:active {
  color: blue;
}

a:hover {
  text-overflow: clip;
}



@media screen and (min-width:481px) {
  .section__index {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner       banner"
      "nav          nav"
      "titulo       titulo"
      "contenido    contenido"
      "bannerfooter bannerfooter"
      "footer       footer"
    ;
  }

  .redes {
    flex-direction: column;
  }

  .contac {
    max-width: 90px;
    max-height: 90px;
    margin: auto;
    display: block;
  }

  .contac__img {

    width: 80px;
    max-height: 80px;
  }


  .section__productos {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner       banner"
      "nav          nav"
      "titulo       titulo"
      "productos    productos"
      "bannerfooter bannerfooter"
      "footer       footer";
  }

  .productos {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cont__prod {
    width: 50%;
    font-size: 80%;
  }

  .name__prod {
    font-size: 150%;
    letter-spacing: 2px;
  }

  .titulos {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .p__rec {

    font-size: 150%;
  }

  .li__r {
    font-size: 150%;
    letter-spacing: 6%;
  }

  .art__nos {
    flex-direction: row;
  }

  .section__horarios {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner       banner"
      "nav          nav"
      "titulo       titulo"
      "rec1         rec1"
      "rec2        rec2"
      "bannerfooter bannerfooter"
      "footer       footer";
  }

  .label__cont {
    font-size: 150%;
    letter-spacing: 3px;
  }

}

@media screen and (min-width:800px) {
  .cont__prod {
    max-width: 40%;
  }
}

@media screen and (min-width:950px) {

  nav ul li a {
    align-items: flex-end;
  }

  .section__index {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner       nav"
      "titulo       titulo"
      "contenido    contenido"
      "bannerfooter bannerfooter"
      "footer       footer"
    ;
  }

  .titulos {
    font-size: 300%;
  }

  .secciones__index {
    font-size: 300%;
    letter-spacing: 5px;
  }

  .section__productos {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner       nav"
      "titulo       titulo"
      "productos    productos"
      "bannerfooter bannerfooter"
      "footer       footer";
  }

  .cont__prod {
    width: 30%;

  }

  .section__horarios {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner       banner"
      "nav          nav"
      "titulo       titulo"
      "rec2         rec1"
      "bannerfooter bannerfooter"
      "footer       footer";
  }



  .tit__art {

    font-size: 300%;
  }

  .p__rec {

    font-size: 150%;
  }

  .li__r {
    font-size: 150%;
  }

  .section__nosotros {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner       nav"
      "titulo       titulo"
      "nos1         nos2"
      "bannerfooter bannerfooter"
      "footer       footer";
  }

  .art__nos {
    flex-direction: column;
    justify-content: space-around;
  }

  .img__n {

    width: 70%;
    max-width: 90%;
    margin: auto;
  }

  .section__contacto {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav          nav"
      "titulo       titulo"
      "form         form"
      "mapa         mapa"
      "bannerfooter bannerfooter"
      "footer       footer";
  }
}

/*# sourceMappingURL=style.css.map */